<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{/css/main.css}"/>
<script type="text/javascript"   th:src="@{/js/text.js}"></script>
<head>
    <title th:text="#{changes.title}">Change server change list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="#{changes.build}">Build change list</p>
<form action="#" th:action="@{/changes}" th:object="${form}" method="POST">
    <nobr th:text="#{changes.startv}"></nobr> <select  th:field="*{from}"  >
         <!--<option value="">Select Version</option>-->
         <option th:each="version : ${versions}" th:value="${version.tag}"  th:text="${version.name}" ></option>
     </select>&nbsp;
    <nobr th:text="#{changes.untilv}"></nobr><select   th:field="*{to}"  >
        <!--<option value="">Select Version</option>-->
        <option th:each="version : ${versions}" th:value="${version.tag}" th:text="${version.name}" ></option>
    </select>
    <p><input type="submit" th:value="#{changes.getchangelist}"/></p>
</form>

    <table th:if="${form.changes != null}" class="chgtable">
        <thead>
          <tr>
              <th th:text="'All changes between '+${form.from.name}+' and '+${form.to.name}" ></th>
              <!--<th></th>-->
          </tr>
        </thead>
        <tbody>
            <tr th:each="change : ${form.changes}" >
                <td  th:utext="${change.fullMessage}" ></td>
                <!--<td  class="tdlink" ><a th:href="${change.gerritLink.href}" th:text="${change.gerritLink.lable}"></a> </td>-->
            </tr>
        </tbody>
    </table>


</body>
</html>